.hero{
    margin: 0px 120px;
    margin-top: 100px;
}

.hero_text{
    color: #fff;
    font-size: 90px;
    font-weight: 500;
    line-height: 170px;
    /* background: red; */
}

.hero_explore{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 10px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
    /* background: gold; */
}

.hero_explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}

.hero_dot_play{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.hero_dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.hero_dot{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 7.5px;
    cursor: pointer;
}

.orange{
    background-color: orangered;
}

.hero_play{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero_play p{
    color: white;
    font-size: 19px;
}