* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.productContainer{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;

   justify-content: center;
   align-items: center;

   padding: 20px;
}

.product{
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 4px;
}


.btnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btnContainer button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;

    border: none;

    background-color: blue;
    color: white;

    border-radius: 8px;

    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

    &:active{
        scale: 0.80;
    }
}


.btnContainer h1{
    padding: 20px;
    color: red;
}